{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
   <h1>Liste Personnes</h1>
    <ul>
        {% for personne in personnes %}
            <li>
                <a href="{{ path('personne_show',{'personneName':personne.name}) }}">
                    {{ personne.name }}
                </a> -- {{ personne.profession }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}