{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
   <h1>{{ personne.name }}  {{ personne.profession }}</h1>
   <ul>
       {% for vehicule in personne.vehicules %}
           <li>{{ vehicule.name }}</li>
       {% endfor %}
   </ul>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
