{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first, {
                'label' : 'Password'
            }) }}
            {{ form_row(form.plainPassword.second, {
                'label' : 'Repeat Password'
            }) }}
            <button class="btn btn-success" type="submit" formnovalidate>Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
